# Project exclude paths
/.gradle/
/build/
/.idea/
/.kotlin/

# Plugins
/plugins/catrain/build/
/plugins/catrain/build/classes/kotlin/main/
/plugins/heal/build/
/plugins/heal/build/classes/kotlin/main/
/plugins/randomTeleport/build/
/plugins/randomTeleport/build/classes/kotlin/main/
/plugins/welcome/build/
/plugins/welcome/build/classes/kotlin/main/

# Run
/run/build/
/run/run
/run/logs